doctype html
html(lang="en")
  head
    title Contacts List
    link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="bower_components/font-awesome/css/font-awesome.min.css")
    link(href='css/style.css' rel='stylesheet')
  body
    - var fields = ["Name", "Email", "Phone", "Twitter", "Group"]
    .container
      .row
        center
          h1 Contacts List
          em
            | by 
            a(href='https://babelthuap.github.io/') Nicholas Neumann-Chun
      hr
      .row
        center
          p#new
            each field in fields
              input(id= field, placeholder= field)
          button.btn.btn-primary#add Add New Contact
      hr
      .row
        table.table.table-striped#list
          thead
            tr
              each field in fields
                th= field
              th Edit/Remove
          tbody
            each contact in contacts
              tr
                each val in contact
                  td= val
                td
                  button.edit(data-toggle='modal', data-target='#myModal'): i.fa.fa-pencil-square-o
                  button.remove: i.fa.fa-times
      //- Modal
      #myModal.modal.fade(role='dialog')
        .modal-dialog
          //- Modal content
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal') ×
              h4.modal-title
                span#editName
            .modal-body
              #editingForm
                each field in fields
                  p
                    em: code= (field + ' ----').slice(0, 9)
                    input(id= 'modal' + field, size="36")
            .modal-footer
              button.btn.btn-primary#commit(type='button', data-dismiss='modal')
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/blueimp-md5/js/md5.min.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='js/main.js')
