doctype html
html(lang="en")
  head
    title Homepage
    link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css")
  body
    .container
      h1 Homepage
      em
        a(href='https://babelthuap.github.io/') Nicholas Neumann-Chun
      hr
      h4
        ul
          li
            a(href="/contacts") Contacts List App