doctype html
html(lang="en")
  head
    title Jade
    link(href='css/style.css' rel='stylesheet')
  body
    h1 Contacts List
    em by Nicholas Neumann-Chun
    hr
    p stuff
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/blueimp-md5/js/md5.min.js')
    script(src='js/main.js')
